#mapbox {
    width: 100%;
    height: 100%;
}

.mapboxgl-ctrl-top-right {
    transform: translateY(6.2rem);
    position: relative !important;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group {
    transform: translateY(3.8rem) translateX(-0.45rem) !important;
}

.mapboxgl-ctrl-geocoder {
    position: absolute !important;
    left: 1rem !important;
    width: calc(100% - 2rem) !important;
}